@using SpaceSidePizzaria.Models
@model List<OrderPO>

@{
    ViewBag.Title = "Previous Orders";
}

<h2>Previous Orders</h2>

<div class="container">

    <table class="striped">
        <thead>
            <tr>
                <th></th>
            </tr>
        </thead>

        <tbody>

        </tbody>
    </table>

</div>
